.amarillo {
	background-color: yellow;
}
.rojo {
	background-color: red;
}
div {
	height: 45%;
	width: 25%;
	font-size: 140%;
	margin-top: 5%;
	display: inline;
}
.pdl5 {
	padding-left: .5%;
}
.pdt5 {
	padding-top: .5%;
}
.may {
	text-transform: uppercase;
}
p {
	display: inline;
}